<!-- <p>home-page works!</p> -->
<app-layout>
    <div class="stats-container">
        <h1 class="page-title">Stats</h1>
        <div class="stats-grid">
            <mat-card class="stat-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title class="stat-name">Nombre d'utilisateurs</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="stats-score">{{ users().length }}</p>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="stat-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title class="stat-name">Nombre d'événements</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="stats-score">{{ nbEvents() }}</p>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="stat-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title class="stat-name">Nombre de participants moyen par événement</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="stats-score">{{ meanNbInscriptionsOnEvents() }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <router-outlet/>
</app-layout>


