<mat-toolbar>
  <span class="page" routerLink="/">Stats</span>
  <span class="page" routerLink="/event">Events</span>
  <span class="page" routerLink="/tags">Tags</span>
  <span class="page" routerLink="/user">Users</span>
  <span class="page" routerLink="/localisation">Localisation</span>

  <button class="button" matIconButton>
    <mat-icon>favorite</mat-icon>
  </button>
  <button class="button" matIconButton>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<ng-content></ng-content>