<mat-toolbar>
  <span class="page" routerLink="/">Stats</span>
  <span class="page" routerLink="/events">Événements</span>
  <span class="page" routerLink="/tags">Tags</span>
  <span class="page" routerLink="/users">Utilisateurs</span>
  <span class="page" routerLink="/localisations">Localisation</span>

  <button class="button" matIconButton>
    <mat-icon routerLink="/me">account_circle</mat-icon>
  </button>
  <button class="button" matIconButton (click)="authButton()">
     @if (isLoggedIn()) {
       <mat-icon>logout</mat-icon>
     } @else {
       <mat-icon>login</mat-icon>
     }
  </button>
</mat-toolbar>


<ng-content></ng-content>