<h2 mat-dialog-title>Créer un nouvelle utilisateur</h2>
<mat-dialog-content>
  <form (ngSubmit)="create(createForm)" (keyup.enter)="create(createForm)" #createForm="ngForm">
    <div>
         Nom:
        <mat-form-field appearance="fill">
            <mat-label>nom</mat-label>
            <input matInput placeholder="Entrer votre nom" name="name" ngModel required />    
        </mat-form-field>
    </div>
    <div>
        Prénom:
        <mat-form-field appearance="fill">
            <mat-label>prénom</mat-label>
            <input matInput placeholder="Entrer votre prénom" name="surname" ngModel required />
        </mat-form-field>
    </div>
    <div>
        Mail:
        <mat-form-field appearance="fill">
            <mat-label>mail</mat-label>
            <input type="email" matInput placeholder="Entrer votre email" name="mail" ngModel required />
        </mat-form-field>
    </div>
    <div>
    Password:
    <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input type="password" placeholder="Entrer votre mot de passe" name="password" ngModel required />
    </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!createForm.valid" (click)="onCreateClick()">Créer</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="onCancelClick()">Annuler</button>
</mat-dialog-actions>