<h2 mat-dialog-title>Créer un nouvel utilisateur</h2>
<mat-dialog-content>
  <form (ngSubmit)="create(createForm)" (keyup.enter)="create(createForm)" #createForm="ngForm">
    Nom:
    <mat-form-field appearance="fill">
        <mat-label>nom</mat-label>
        <input matInput placeholder="Entrer un nom" name="name" ngModel required />    
    </mat-form-field>
    <br>
    Prénom:
    <mat-form-field appearance="fill">
        <mat-label>prénom</mat-label>
        <input matInput placeholder="Entrer un prénom" name="surname" ngModel required />
    </mat-form-field>
    <br>
    Mail:
    <mat-form-field appearance="fill">
        <mat-label>mail</mat-label>
        <input matInput type="email" matInput placeholder="Entrer un email" name="mail" ngModel required />
    </mat-form-field>
    <br>
    Password:
    <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput type="password" placeholder="Entrer un mot de passe" name="password" ngModel required />
    </mat-form-field>
    <br>
    <mat-dialog-actions>
    <button matButton (click)="onCancelClick()">Annuler</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!createForm.valid" >Créer</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
