<app-layout>
    <mat-card class="listEvents" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Événements</mat-card-title>
        </mat-card-header>
        <br>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <mat-form-field appearance="fill">
                <mat-label>Recherche</mat-label>
                <input matInput placeholder="Champ de recherche" name="searchField" ngModel #searchField="ngModel" />
            </mat-form-field>
            <button matButton type="submit" [disabled]="!myForm.form.valid" >Rechercher</button>
        </form>
        <mat-card-content>      
            <mat-accordion>

                @for ( event of events(); track event.id) {
                 <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> {{event.name}} </mat-panel-title>
                        <mat-panel-description> {{event.description}} </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <p>Localisation : @for (loc of locs(); track loc.id) {
                        @if (event.location === loc.id) {
                            {{loc.address}} 
                        } 
                    }</p>
                    <p>Début : {{event.startDate | date:'dd/MM/yyyy'}}</p>
                    <p>Fin : {{event.endDate | date:'dd/MM/yyyy'}}</p>
                    <p>desciption : {{event.description}}</p>
                    <p>Tags : @for (tag of tags(); track tag.id) {
                        @if (event.tags.includes(tag.id)) {
                            {{tag.name}} 
                        } 
                    }</p>
                </mat-expansion-panel>
                }

                <!-- <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Événement 1 </mat-panel-title>
                        <mat-panel-description> description </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <p>Localisation : 11 place de la république</p>
                    <p>Début : 12/12/2025</p>
                    <p>Fin : 15/12/2025</p>
                    <p>desciption : événement décrit</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Événement 2 </mat-panel-title>
                        <mat-panel-description> description </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <p>Localisation : 11 place de la république</p>
                    <p>Début : 11/12/2025</p>
                    <p>Fin : 16/12/2025</p>
                    <p>desciption : événement décrit</p>
                </mat-expansion-panel> -->
            </mat-accordion>
        </mat-card-content>
    </mat-card>
<router-outlet/>
</app-layout>