<app-layout>
    <div class="events-container">
        <div class="events-header">
            <h1 class="page-title">Événements</h1>
        </div>

        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <mat-form-field appearance="fill">
                <mat-label>Recherche</mat-label>
                <input matInput placeholder="Champ de recherche" name="searchField" ngModel #searchField="ngModel" />
            </mat-form-field>
            <button matButton type="submit" [disabled]="!myForm.form.valid" >Rechercher</button>
        </form>
        <p class="events-count">{{events().length}} événement(s)</p>
        <div class="events-grid">
            @for (event of events(); track event.id) {
                <mat-card class="event-card" appearance="outlined" (click)="openUpdateDialog(event)">
                    <div class="event-header">
                        <div class="event-date-badge">
                            <mat-icon>event</mat-icon>
                            <span>{{event.startDate | date:'dd MMM'}}</span>
                        </div>
                    </div>
                    
                    <mat-card-content class="event-content">
                        <h2 class="event-title">{{event.name}}</h2>
                        <p class="event-description">{{event.description}}</p>
                        
                        <div class="event-details">
                            <div class="event-detail-item">
                                <mat-icon>location_on</mat-icon>
                                <span>
                                    {{getLocById(event.location)?.address}}
                                </span>
                            </div>
                            
                            <div class="event-detail-item">
                                <mat-icon>schedule</mat-icon>
                                <span>{{event.startDate | date:'dd/MM/yyyy'}} - {{event.endDate | date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                        
                        <div class="event-tags">
                            @for (tag of event.tags; track tag) {
                                <span class="event-tag">
                                    {{getTagById(tag)?.name}}
                                </span>
                            }
                        </div>
                    </mat-card-content>
                </mat-card>
            }

        </div>
        
        <mat-paginator 
            [length]="totalElements()"
            [pageSize]="pageSize()"
            [pageIndex]="pageIndex()"
            [pageSizeOptions]="[5, 10, 20, 50]"
            (page)="onPageChange($event)"
            aria-label="Sélectionnez la page"
            showFirstLastButtons>
        </mat-paginator>
    </div>
    <router-outlet/>
</app-layout>

<button matFab (click)="openDialog()" class="button-add" id="button-dialog">
    <mat-icon>add</mat-icon>
</button>