<app-layout class="toolbar">
    <mat-card class="listUsers" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Utilisateurs</mat-card-title>
        </mat-card-header>
        @if (loadingPage()) {
            <mat-spinner></mat-spinner>        }
        @else {
            <br>
        <mat-card-content>
            <p>Nombre d'utilisateurs : {{users().length}}</p>
            <mat-accordion>
                @for (user of users(); track user.id) {
                    <mat-expansion-panel (opened)="getUserDetails(user.id)">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Utilisateur {{user.id}} </mat-panel-title>
                            <mat-panel-description> {{user.name}} {{user.surname}} </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-divider></mat-divider>
                        <!-- Faire la liste en fonction du detail de l'utilisateur si on clique dessus -->
                        @if (loadingUser()) {
                            <mat-spinner></mat-spinner>        }
                        @else {
                            <p>nom : {{userDetails()?.name}}</p>
                            <p>prénom : {{userDetails()?.surname}}</p>
                            <p>mail : {{userDetails()?.mail}}</p>
                            <p>tags : 
                                <mat-nav-list role="list">
                                    @for (tag of userDetails()?.followTags ?? []; track tag) {
                                        <div matListItemMeta>
                                            • {{tag.nameTag}}
                                        </div>
                                    }
                                </mat-nav-list></p>
                        }
                    </mat-expansion-panel>
                }
                <!-- <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Utilisateur {{user.id}} </mat-panel-title>
                        <mat-panel-description> description </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <p>nom : {{user.name}}</p>
                    <p>prénom : {{user.surname}}</p>
                    <p>mail : {{user.mail}}</p>
                    <p>tags : 
                        <mat-nav-list role="list">
                            @for (tag of listTags; track tag) {
                                <div matListItemMeta>
                                    • {{tag}}
                                </div>
                            }
                        </mat-nav-list></p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Utilisateur 2 </mat-panel-title>
                        <mat-panel-description> description </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <p>nom : Albert</p>
                    <p>prénom : Einstein</p>
                    <p>mail : alberteinstein@mail.com</p>
                    <p>tags : 
                        <mat-nav-list role="list">
                            @for (tag of listTags; track tag) {
                                <div matListItemMeta>
                                    • {{tag}}
                                </div>
                            }
                        </mat-nav-list></p>
                </mat-expansion-panel> -->
            </mat-accordion>
        </mat-card-content>
        }
    </mat-card>
    <button matFab (click)="openDialog()" class="button-add " id="button-dialog">
        <mat-icon>add</mat-icon>
    </button>
<router-outlet/>
</app-layout>