name: Deploy et docker

on:
  workflow_run:
    workflows: ["Test angular"]
    types:
      - completed
    branches: [ "main" ]

jobs:
    deploy-docker:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}

        steps:
          - uses: actions/checkout@v4
          - name: Use Node.js 16.x
            uses: actions/setup-node@v4
            with:
                node-version: '24'
          - name: Install dependencies
            run: npm install

          - name: Build Angular project
            run: npm run build 

          - name: Extract version from package.json
            id: extract_version
            run: |
              VERSION=$(node -p "require('./package.json').version")
              echo "version=$VERSION" >> $GITHUB_OUTPUT

          - name: Generate build timestamp
            id: timestamp
            run: echo "timestamp=$(date +%Y%m%d-%H%M%S)" >> $GITHUB_OUTPUT

          - name: Log in to Docker Hub
            uses: docker/login-action@v2
            with:
              username: ${{ secrets.DOCKER_HUB_USERNAME }}
              password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

          - name: Build and push Docker image
            uses: docker/build-push-action@v4
            with:
              context: .
              push: true
              tags: |
                ${{ secrets.DOCKER_HUB_USERNAME }}/aja-angular:latest
                ${{ secrets.DOCKER_HUB_USERNAME }}/aja-angular:${{ steps.extract_version.outputs.version }}
                ${{ secrets.DOCKER_HUB_USERNAME }}/aja-angular:${{ steps.extract_version.outputs.version }}-${{ steps.timestamp.outputs.timestamp }}

    update-compose:
        runs-on: ubuntu-latest
        needs: deploy-docker

        steps:
          - name: SSH to Server and update Docker Compose
            uses: appleboy/ssh-action@v1.0.0
            with:
              host: ${{ secrets.SERVER_HOST }}
              username: ${{ secrets.SERVER_USER }}
#              key: ${{ secrets.SERVER_SSH_KEY }}
              password: ${{ secrets.SERVER_SSH_PASSWORD }}
              script: |
                docker compose down angular
                # docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
                docker compose pull angular
                docker compose up -d angular