name: Test angular

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
    test:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Use Node.js 16.x
          uses: actions/setup-node@v4
          with:
            node-version: '24'
        - name: Install dependencies
          run: npm install
        - name: Run tests
          run: npm test